$primary: #3d5afe;
$success: #047857;
$info: #06b6d4;
$warning: #f59e0b;
$danger: #ef4444;
$secondary: #64748b;

$body-bg: #f8fafc;
$border-radius: 0.5rem;
$border-radius-lg: 0.75rem;

@import "bootstrap/scss/bootstrap";
@import "custom";
